{% extends 'base.html'%} 
{% block title %}Hello TextSolverrr ! {% endblock title %}
{% block activeIndex %} active{% endblock activeIndex %}
{% block body %}
<h3 class="text-center my-3">Enter Text Below</h3>
<form action="analyze" method="POST">
    {% csrf_token %}
<div class="d-flex justify-content-center" >
    <textarea class="form-control w-75" name="text" style="border: 2px solid black;"id="exampleFormControlTextarea1" placeholder="Add your content" rows="6">{{analyzed}}</textarea>
</div>
<div class="mb-3 mt-4 d-flex justify-content-center ">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

        <input type="checkbox" name="removepunc" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck1">Remove Punctuations</label>

        <input type="checkbox" name="fullcaps" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck2">Get Uppercase</label>

        
        <input type="checkbox" name="fulllow" class="btn-check" id="btncheck5" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck5">Get Lowercase</label>

        <input type="checkbox" name="newlineremover" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck3">Remove New Line</label>

        <input type="checkbox" name="extraspaceremover" class="btn-check" id="btncheck4" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck4">Remove Extra Space</label>
    </div>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
    <button class="btn custom-primary text-light" type="submit">Get Results</button>
</div>
</form>

{% endblock body %}